html {
    background-color: rgb(3, 3, 65);
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Start of header navigation styling */
.nav-container {
    width: auto;
    margin: 0 auto;
}

header {
    background-color: white;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    display: flex;
    float: left;
    padding: 10px 20px;
}

.title {
    font-size: 20px;
    padding: 17px 10px;
}

nav {
    float: right;
    padding-right: 70px;
}

nav ul {
margin: 0;
padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 30px;

    position: relative;
}

nav a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

/* Responsive hover feature nav items changing color and select bar on top. */
nav a:hover {
    color: rgb(39, 39, 197);
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: black;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 200ms;
}

nav a:hover::before {
    width: 100%;
}
/* End of hover feature for nav items */
/* End of header navigation styling */

/* Start of Intro container */

.intro-container {
    width: 100%;
    padding: 100px 25px;
}

.intro {
    padding: 20px 100px;
}

.intro p {
    font-size: 22px;
    color: #00cf5d;
}

.intro h1 {
    font-size: 60px;
    color: white;
    font-weight: 900;
    margin-bottom: 25px;
}

.intro h3 {
    color: #00cf5d;
    font-size: 1.38316rem;
    padding-bottom: 10px;
}

.intro ul {
    display: flex;
    margin-bottom: 25px;
}

.intro li {
    margin-left: 15px;
    margin-bottom: 5px;
    padding-right: 20px;
    list-style: disc;
    color: white;
}

.action .button {
    padding: 15px 25px;
    background-color: #00cf5d;
    border-radius: 5px;
    border: 2px solid #00cf5d;
    color: white;
    margin-right: 10px;

}

.action .button-empty {
    padding: 15px 25px;
    border: 2px solid #00cf5d;
    border-radius: 5px;
    color: white;
}

.action a {
    text-decoration: none;
}